body {
  font-size: 14px;
}

#md-content-row .tocible {
  font-family: Microsoft YaHei;
  font-size: 0.9rem;
  font-weight: normal;
  border-radius: 5px;
  width: 25%;
  max-width: 199px;
}

#md-content-row .tocible .tocible_header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333;
}

.list-group a {
  color: black;
}

#md-content-row .markdown-body h1 {
  padding-top: 0px;
  margin-top: 0px;
}

#md-content-row .markdown-body {
  padding-top: 0.5em;
  font-size: 14px;
}
